[Unit]
Description=Blinkstick-indicated resource monitoring service
After=network.target
Conflicts=getty@tty1.service

[Service]
Type=exec
WorkingDirectory=/home/pappa/projects/bs_mon
ExecStart=/home/pappa/.virtualenvs/bs_mon/bin/python /home/pappa/projects/bs_mon/bsmon.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
